<%- include('partials/header') %>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <img src="/img/<%= producto.imagen %>" alt="<%= producto.nombre %>" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h2><%= producto.nombre %></h2>
      <p><strong>Precio:</strong> $<%= producto.precio %></p>
      <p><strong>Descripción:</strong></p>
      <p><%= producto.descripcion %></p>

      <form action="/agregar-al-carrito" method="POST">
        <input type="hidden" name="productoId" value="<%= producto._id %>">
        <button type="submit" class="btn btn-primary">Agregar al carrito</button>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer') %>